<div id="<%= dom_id theme_page %>">
  <p>
    <strong>Theme:</strong>
    <%= theme_page.theme_id %>
  </p>

  <p>
    <strong>Page type:</strong>
    <%= theme_page.page_type %>
  </p>

  <p>
    <strong>Component order:</strong>
    <%= theme_page.component_order %>
  </p>

</div>
