<div id="<%= dom_id theme %>">
  <div>
    <img src="<%= theme.placeholder_image %>">
  </div>
  <p>
    <strong>Name:</strong>
    <%= theme.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= theme.description %>
  </p>


</div>
