<div id="<%= dom_id theme_page_component %>">
  <p>
    <strong>Theme page:</strong>
    <%= theme_page_component.theme_page_id %>
  </p>

  <p>
    <strong>Component:</strong>
    <%= theme_page_component.component_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= theme_page_component.position %>
  </p>

</div>
