<% content_for :title, "Editing theme page component" %>

<h1>Editing theme page component</h1>

<%= render "form", admin_theme_page_component: @admin_theme_page_component %>

<br>

<div>
  <%= link_to "Show this theme page component", @admin_theme_page_component %> |
  <%= link_to "Back to theme page components", admin_theme_page_components_path %>
</div>
